* {
    box-sizing: border-box;
  }

  html {
    background: #f8f4ec;
    margin: 0 8px;
    padding: 0;
  }

  body {
    background: #fff;
    border: 2px solid rgb(16, 42, 67);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(16, 42, 67);
    font-size: 15px;
    line-height: 1.4;
    margin: 8px auto;
    max-width: 850px;
    min-height: 523px;
    outline: 1px solid #bbb;
    padding: 10px;
  }

  h1,h2,h3,h4,h5,h6 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(16, 42, 67);
    line-height: 1;
    text-align: center;
    margin: 0;
  }

  hr {
    color: rgb(16, 42, 67);
    height: 3.5px;
    background-color: rgb(16, 42, 67);
  }

  .btn {
    border: 2px solid rgb(16, 42, 67);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(16, 42, 67);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background: #D8DBE2;
    min-width: 125px;
  }

  .btn:hover {
    background: #D8DBE2 linear-gradient(rgb(0 0 0/20%) 0 0);
  }

  .hold {
    border: 2px solid rgb(16, 42, 67);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(16, 42, 67);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background: #D8DBE2 linear-gradient(rgb(0 0 0/20%) 0 0);
    min-width: 125px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }

  .logo {
    width: 64px;
    height: 64px;
  }
  
  .title {
    text-align: center;
    margin-top: 10px;
    color: rgb(16, 42, 67)
  }